<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      throwExceptions="true">
    <targets>
        <target xsi:type="ColoredConsole"
                name="console"/>
        <target name="file" xsi:type="AsyncWrapper">
            <target xsi:type="File"
                    encoding="utf-8"
                    layout="${longdate}|${level:uppercase=true}|${logger}|${message}: ${exception:format=tostring}"
                    fileName="${currentdir}/logs/latest.log"
                    archiveFileName="${currentdir}/logs/{################}.log.zip"
                    archiveNumbering="DateAndSequence"
                    archiveEvery="Day"
                    enableArchiveFileCompression="true"/>
        </target>
        <target name="jsonFile" xsi:type="AsyncWrapper">
            <target xsi:type="File"
                    encoding="utf-8"
                    fileName="${currentdir}/json/latest.json"
                    archiveFileName="${currentdir}/json/{################}.json.zip"
                    archiveNumbering="DateAndSequence"
                    archiveEvery="Day"
                    enableArchiveFileCompression="true">
                <layout xsi:type="JsonLayout"
                        includeAllProperties="true"
                        excludeProperties="Comma-separated list (string)">
                    <attribute name="time" layout="${longdate}"/>
                    <attribute name="level" layout="${level:upperCase=true}"/>
                    <attribute name="message" layout="${message}" escapeUnicode="false"/>
                </layout>
            </target>
        </target>
    </targets>

    <rules>
        <!--<logger name="*" minlevel="Info" writeTo="console" />-->
        <logger name="*" minlevel="Debug" writeTo="file"/>
        <logger name="*" minlevel="Debug" writeTo="jsonFile"/>
    </rules>
</nlog>