<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
    <targets>
        <target xsi:type="ColoredConsole"
                name="console" />
        <target name="file" xsi:type="AsyncWrapper">
            <target xsi:type="File"
                    fileName="${currentdir}/logs/latest.log"
                    archiveFileName="${currentdir}/logs/{################}.log.zip"
                    archiveNumbering="DateAndSequence"
                    archiveEvery="Day" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>