<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="https://nlog-project.org/schemas/NLog.xsd"
      throwExceptions="true">
    <extensions>
        <add assembly="NLog.Targets.Fluentd" />
    </extensions>

    <targets>
        <target xsi:type="ColoredConsole"
                name="console" />
        <target name="fluentbit" xsi:type="AsyncWrapper">
            <target xsi:type="Fluentd"
                    includeAllProperties="true"
                    host="fluentd"
                    layout="${message}" />
        </target>
        <target name="file" xsi:type="AsyncWrapper">
            <target xsi:type="File"
                    encoding="utf-8"
                    layout="${longdate}|${level:uppercase=true}|${logger}|${message}: ${exception:format=tostring}"
                    fileName="${currentdir}/logs/latest.log"
                    archiveFileName="${currentdir}/logs/{################}.log.zip"
                    archiveNumbering="DateAndSequence"
                    archiveEvery="Day"
                    enableArchiveFileCompression="true" />
        </target>
        <target name="jsonFile" xsi:type="AsyncWrapper">
            <target xsi:type="File"
                    encoding="utf-8"
                    fileName="${currentdir}/logs/latest.json"
                    archiveFileName="${currentdir}/json/{################}.json.zip"
                    archiveNumbering="DateAndSequence"
                    archiveEvery="Day"
                    enableArchiveFileCompression="true">
                <layout xsi:type="JsonLayout"
                        includeAllProperties="true"
                        excludeProperties="Comma-separated list (string)">
                    <attribute name="log_time" layout="${longdate}" />
                    <attribute name="log_level" layout="${level:upperCase=true}" />
                    <attribute name="log_message" layout="${message}" escapeUnicode="false" />
                </layout>
            </target>
        </target>
    </targets>

    <rules>
        <!--<logger name="*" minlevel="Info" writeTo="console" />-->
        <logger name="*" minlevel="Debug" writeTo="file" />
        <logger name="*" minlevel="Debug" writeTo="jsonFile" />
        <logger name="*" minlevel="Debug" writeTo="fluentbit" />
    </rules>
</nlog>